.empty-list {
  border: 2px dashed #ccc; /* Dashed border for the empty box */
  border-radius: 8px; /* Curved corners */
  text-align: center;
  padding: 20px;
  margin: 20px;
  color: #999;
}

.task-list, .routine-list {
  background-color: var(--tertiary-color); /* Tertiary color as background */
  width: 95%; /* Fill 9% of its container's width */
  margin: 10px auto; /* Center the list */
  padding: 10px 0; /* Padding top and bottom */
  border-radius: 8px; /* Curved corners for the list */
}

.list-item {
  background-color: var(--tertiary-color); /* Tertiary color as background */
  display: flex;
  justify-content: center; /* Centering the inner content */
  align-items: center;
  width: 100%; /* Full width of the item */
  margin: 10px 0; /* Space between items */
}

.list-item-inner {
  display: flex;
  justify-content: space-between; /* Space out the content and status indicator */
  align-items: center;
  width: 100%; /* Full width of the item */
}

.item-content {
  width: 80%; /* Width of the content area */
  margin: auto; /* Center the content */
  padding-bottom: 10px; /* Padding at the bottom of each item */
  border-bottom: 5px solid #e0e0e0; /* Solid color for the separator line */
}

.item-detail {
  display: flex;
  flex-direction: column;
  width: 80%; /* Width of the details area */
}

.item-name {
  font-weight: bold;
  margin-bottom: 4px; /* Space below the name */
}

.item-category, .item-due-date, .item-frequency {
  color: #666;
  font-size: 0.9em;
  margin-bottom: 2px; /* Space between details */
}

/* Specific styles for status indicator */
.status-indicator {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

.status-indicator.green {
  background-color: #5dfdcb; /* Primary color for completed tasks */
}

.status-indicator.orange {
  background-color: #ffb347; /* Orange color for pending tasks */
}

.status-indicator.red {
  background-color: #ff6961; /* Red color for overdue tasks */
}