
.empty-list {
    border: 2px dashed #ccc; /* Dashed border for the empty box */
    border-radius: 8px; /* Curved corners */
    text-align: center;
    padding: 20px;
    margin: 20px;
    color: #999;
  }
  
  .task-item, .routine-item {
    background-color: var(--tertiary-color);
    
  }
  
  /* Use quinary color for less important elements or for shadows */
  .task-item {
    box-shadow: 0 2px 5px var(--quinary-color);
  }
  