.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #007bff;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
}

.add-button {
  position: absolute;
  bottom: 1px; /* Raise above the nav bar */
  left: 50%;
  transform: translateX(-50%);
}
.other-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;  /* Half the width of add-button */
  height: 40px;  /* Half the height of add-button */
  border-radius: 50%;
  color: #007bff; /* Adjust color as needed */
  font-size: 15px; /* Adjust font size as needed */
  text-decoration: none;
  text-align: center;
  line-height: 25px;
}

