.task-list, .routine-list, .empty-list {
  background-color: var(--tertiary-color);
  width: 95%;
  margin: 10px auto;
  padding: 10px 0;
  border-radius: 8px;
  max-height: calc(100vh - 230px);
  overflow-y: auto;
}

.list-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
}

.list-item-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item-content {
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
  border-bottom: 5px solid #e0e0e0;
}

.item-detail {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.item-name, .item-category, .item-due-date, .item-frequency, .item-description {
  color: #666;
  font-size: 0.9em;
  margin-bottom: 2px;
}

.item-name {
  font-weight: bold;
  margin-bottom: 4px;
}

.delete-button, .edit-button, .mark-complete-button {
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.delete-button {
  right: 10px;
  background-color: #f44336;
}

.edit-button {
  right: 70px;
  background-color: #ff9800;
}

.mark-complete-button {
  right: 130px;
  background-color: #4CAF50; /* Default to green, indicating 'complete' */
}

/* Styling for incomplete state, override default if task is incomplete */
.mark-complete-button.incomplete {
  background-color: #ff6978; /* Pink/red for 'incomplete' */
}

/* Hover effects maintaining uniform amber glow for all buttons */
.delete-button:hover, .edit-button:hover, .mark-complete-button:hover {
  box-shadow: 0 0 8px #ffc107;
}

.checkboxes-container {
  display: inline-flex;
  gap: 4px;
  background-color: #ff6978;
  padding: 4px;
  border-radius: 4px;
  margin: 0 auto;
}

.routine-checkbox {
  cursor: pointer;
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;
  border: 2px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  position: relative;
}

.routine-checkbox:checked {
  background-color: #4CAF50;
  border-color: #fff;
}

.routine-checkbox:checked::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: #4CAF50;
  border-radius: 2px;
}

.options {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.filter-buttons {
  display: flex;
}

.filter-button{
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  transition: background-color 0.3s;
  background-color: #f5c173;
 }

 .selected-filter {
  background-color: #4CAF50;
  color: white;
  border: none;
}

 .selected-filter:hover, .filter-button:hover{
background-color: #ff9800;
}

.delete-all-button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #ffcccc;
  color: white;
  transition: background-color 0.3s;
}

.delete-all-button:hover, .delete-button:hover {
  background-color: #ff5c5c;
}
