.empty-list {
  border: 2px dashed #ccc; /* Dashed border for the empty box */
  border-radius: 8px; /* Curved corners */
  text-align: center;
  padding: 20px;
  margin: 20px;
  color: #999;
}

.task-list, .routine-list {
  background-color: var(--tertiary-color); /* Tertiary color as background */
  width: 95%; /* Fill 9% of its container's width */
  margin: 10px auto; /* Center the list */
  padding: 10px 0; /* Padding top and bottom */
  border-radius: 8px; /* Curved corners for the list */
}

.list-item {
  position: relative; /* Position relative for absolute child elements */
  display: flex;
  justify-content: space-between; /* Space out the content and button */
  align-items: center;
  width: 95%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px; /* Rounded corners */
}

.list-item-inner {
  display: flex;
  justify-content: space-between; /* Space out the content and status indicator */
  align-items: center;
  width: 100%; /* Full width of the item */
}

.item-content {
  width: 80%; /* Width of the content area */
  margin: auto; /* Center the content */
  padding-bottom: 10px; /* Padding at the bottom of each item */
  border-bottom: 5px solid #e0e0e0; /* Solid color for the separator line */
}

.item-detail {
  display: flex;
  flex-direction: column;
  width: 80%; /* Width of the details area */
}

.item-name {
  font-weight: bold;
  margin-bottom: 4px; /* Space below the name */
}

.item-category, .item-due-date, .item-frequency, item-description {
  color: #666;
  font-size: 0.9em;
  margin-bottom: 2px; /* Space between details */
}

.mark-complete-button {
  cursor: pointer;
  padding: 10px 20px; /* Larger click area */
  border-radius: 20px; /* Rounded corners */
  border: none; /* No border */
  background-color: #4CAF50; /* Green background for 'complete' action */
  color: white; /* White text color */
  position: absolute; /* Absolute position relative to its parent */
  right: 10px; /* Positioned to the right */
  top: 50%; /* Positioned halfway down the parent */
  transform: translateY(-50%); /* Offset the button by half its height to center */
  transition: background-color 0.3s; /* Transition for hover effect */
}

/* Task button */
/* Button initially appears as light red */
.mark-complete-button.incomplete {
  background-color: #ffcccb; /* Light red background for 'incomplete' action */
}

/* Button turns green when the task is marked as complete */
.mark-complete-button.complete {
  background-color: #4CAF50; /* Green background for 'complete' action */
}

/* Hover effect for the incomplete button */
.mark-complete-button.incomplete:hover {
  background-color: #ff7f7f; /* Slightly darker red on hover */
}

/* Hover effect for the complete button */
.mark-complete-button.complete:hover {
  background-color: #45a049; /* Slightly darker green on hover */
}

/* Amber hover effect */
.mark-complete-button:hover {
  box-shadow: 0 0 10px #ffc107; /* Amber glow */
}

/* Routine button */
.complete-routine-btn {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.complete-routine-btn:hover {
  background-color: #45a049;
}
.complete-routine-btn.mark-incomplete {
  background-color: #f44336; /* Example color for "incomplete" action */
}
