.add-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure full width */
  padding: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tabs button.active {
  background-color: var(--primary-color);
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 100%; /* Adjusted to full width */
  max-width: 800px; /* Limit max width */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  align-items: center; /* Center align the form contents */
}

.form-group {
  width: 100%; /* Ensure form group takes full width */
  margin-bottom: 15px;
}

.form-control, .submit-btn, .listen-btn {
  width: 100%; /* Form controls and buttons take full width */
  padding: 10px;
  margin-bottom: 15px; /* Adjust spacing */
}

.submit-btn, .listen-btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-btn {
  background-color: #007bff;
  color: #fff;
}

.listen-btn {
  background-color: #28a745;
  color: #fff;
}

.submit-btn:hover, .listen-btn:hover {
  opacity: 0.8; /* Slightly reduce opacity on hover for a subtle effect */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .form-item, .form-group, .form-control, .submit-btn, .listen-btn {
    padding: 8px; /* Reduce padding for smaller devices */
  }

  .tabs button {
    padding: 8px 16px; /* Adjust button size for smaller screens */
  }
}

@media (max-width: 480px) {
  .form-item {
    padding: 10px; /* Further reduce padding for very small devices */
  }

  .form-control, .submit-btn, .listen-btn {
    font-size: 14px; /* Reduce font size for better fit on small screens */
  }
}
